@tailwind base;
@tailwind components;
@tailwind utilities;

input:checked + div {
  @apply border-red-darker-1;
}
input:checked + div svg {
  @apply block;
}

input[type=text]:focus-within ~ label,
input[type=text]:not(:placeholder-shown) ~ label {
  @apply transform scale-75 -translate-y-4 -ml-1;
}

input[type=text]:focus-within ~ label {
  @apply text-red-darker-1;
}

textarea:focus-within ~ label,
textarea:not(:placeholder-shown) ~ label {
  @apply transform scale-75 -translate-y-4 -ml-1;
}

textarea:focus-within ~ label {
  @apply text-red-darker-1;
}